body {
		background-color: #111;
		color: #DDE;
		font-size: 0.95em;
		font-family: Tahoma;
		margin: 0;
	}

	a {
		color: #7BF;
	}
	
	a:hover {
		color: #ADF;
	}
	
	a:active {
		color: #36F;
	}
	
	p {
		text-indent: 20px;
		margin: 0 5px 0 5px;
		line-height: 18px;
	}
	
	hr {
		background-color: #B6B;
		border: 1px dotted #904;
	}
	
	h1, h2, h3, h4 {
		font-size: 1.2em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		letter-spacing: 1px;
		margin: 0 0 0.2em 0.2em;
		white-space: nowrap;
		text-transform: uppercase;
	}
	
	h2 {
		font-size: 1em;
		letter-spacing: 2px;
		border-bottom: 0.1em solid #47A;
	}
	
	h2::first-letter {
		font-size: 150%;
		color: #BBF;
	}
	
	h3, h4 {
		color: #37D;
		font-size: 0.95em;
		text-decoration: underline;
		text-transform: none;
		white-space: normal;
		display: inline-block;
		line-height: 18px;
	}
	
	h4 {
		color: #85B;
		font-size: 0.85em;
		text-indent: 20px;
		margin: 0;
	}
	
	#header {
		background-color: #904;
		padding: 0.2em;
		position: fixed;
		width: 100%;
		height: 45px;
		top: 0;
		left: 0;
	}
	
	ul {
		list-style-image: url('/gem.png');
	}
	ul li {
		line-height: 18px;
	}
	
	#menu {
		list-style-type: none;
		background-color: #503;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		overflow: auto;
	}
	
	#menu li {
		background-color: #614;
		border: 1px dotted #FEF;
		border-radius: 5px;
		display: inline-block;
		width: 110px;
		vertical-align: text-top;
		text-align: center;
	}
	
	#menu li:hover {
		background-color:#F5C;
	}

	div.box, div.box2 {
		background-color: #124;
		color: #CCD;
		padding: 0.1em;
		margin: 0.5em;
	}
	
	div.box2 {
		background-color: #112;
		margin-bottom: 1em;
	}
	
	span.text2 {
		font-style: italic;
		font-size: 0.9em;
		background-color: #235;
	}
	
	table.evt {
		border-collapse: collapse;
		border: 2px solid #99D;
		font-size: 0.9em;
	}
	
	table.evt td {
		border: 1px dotted #6AD;
		text-align: center;
		vertical-align: text-top;
		min-width: 80px;
	}
	
	table.evt2 {
		float: right;
		margin: 0.3em;
	}
	
	table.evt2 td {
		width: 130px;
	}
	
	.rtxt {
		color: #D40;
	}
	
	.gtxt {
		color: #0D4;
	}
	
	.t1t2 {
		background-color: #706;
	}
	
	.t3 {
		background-color: #20A;
	}
	
	.t4t5 {
		background-color: #06B;
	}
	
	.t6 {
		background-color: #490;
	}
	
	#container {
		height: 80vh;
        overflow: hidden;
	    //border: 1px dotted #FFF;
		margin-top: 3.6em;
		left: 0;
    }
	
	.inner {
		height: 100%;
	    padding: 0.0em;
	    //border: 3px outset #66F;
	    overflow: auto;
	}
	
	.anchor {
		display: block;
		position: relative;
		top: -0px;
		visibility: hidden;
	}
	
	textarea {
		background-color: #99A;
		font-family: Arial;
		
	}
	
	#footer {
		background-color: #503;
		padding: 0.2em;
		position: fixed;
		height: 20px;
		bottom: 0;
		right: 0;
	}
	
	ul.inl {
		display: inline-block;
	}
	
	@media screen and (max-width: 465px){
	
		h1 {
			font-size: 1.1em;
		}
		
		#container {
			height: 75vh;
			margin-top: 4.5em;
		}
		
		#footer {
			height: auto;
		}
		
		ul.inl {
			display: block;
		}
	}
