body {
	font-size: 0.95em;
	font-family: Tahoma;
	margin: 0;
	padding: 0;
	height: 100%;
}

#main {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	height: 100%;
}

p {
	text-indent: 20px;
	margin: 0 5px 0 5px;
	line-height: 20px;
}

hr {
	margin: 0;
}

img {
	margin: 0;
	border-radius: 5px;
	max-height: 240px;
	max-width: 500px;
	display: inline-block;
}

h1, h2, h3, h4 {
	font-size: 1.15em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	margin: 0 0 0.25em 0.25em;
	padding: 0.2em 0.2em 0 0;
	text-transform: uppercase;
}

h1 {
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
}

h2 {
	font-size: 1em;
	letter-spacing: 2px;
}

h2::first-letter {
	font-size: 150%;
}

h3, h4 {
	color: #37D;
	font-size: 0.95em;
	text-decoration: underline;
	text-transform: none;
	white-space: normal;
	display: inline-block;
	line-height: 18px;
}

h4 {
	color: #A5D;
	font-size: 0.85em;
	text-indent: 20px;
	margin: 0;
}

ul li {
	list-style-image: url("https://a3event.github.io/src/gem.png");
	line-height: 20px;
}

ul.ul_b li {
	list-style: none;
	background: transparent url("https://a3event.github.io/src/bonus.png");
	background-size: 16px;
	background-repeat: no-repeat;
	margin-left: -25px;
	padding: 0 0 0 25px;
}

#header {
	/*
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	*/
	flex: 0 1 auto;
	z-index: 1;
}

.dropdown-menu {
	white-space: nowrap;
	overflow: auto;
}

.dropdown {
	margin: auto 0.3em;
	padding: 0;
	width: 90px;
	height: 22px;
	display: inline-block;
}

.dropdown-links {
	display: none;
	position: absolute;
	width: auto;
	left: 0;
	border-radius: 5px;
	margin-top: 21px;
	padding: 0 5px 0 0;
	overflow: auto;
	z-index: 3;
}

.dropdown-links ul {
	margin: 0 0 0 -35px;
	z-index: 2;
}

.dropdown-links li {
	border-radius: 5px;
	display: inline-block;
	width: 120px;
	height: 25px;
	text-align: center;
	vertical-align: text-bottom;
}

.dropdown:hover {
	font-weight: bold;
}

.dropdown:hover .dropdown-links {
	display: inline-block;
}

.dropdown-links li:hover {
	font-weight: normal;
}

div.box, div.box2 {
	padding: 0.2em;
	margin: 0.5em;
	border-radius: 5px;
}

div.box2 {
	margin-bottom: 1em;
}

span.text2 {
	font-style: italic;
	font-size: 0.9em;
	color: #66F;
}

table.pros {
	border-collapse: collapse;
	border-style: hidden;
	margin: 0.5em auto;
}

table.pros td {
	border: 1px dotted #999;
	vertical-align: text-top;
}

table.evt {
	border-collapse: separate;
	border-spacing: 2px;
	border-radius: 5px;
	font-size: 0.9em;
	height: auto;
}

table.evt td {
	text-align: center;
	vertical-align: text-top;
}

table.evt1 td {
	min-width: 90px;
}

table.evt2 {
	float: right;
	margin: 0.3em;
}

table.evt2 td {
	width: 130px;
}

table.evt3 td {
	min-width: 60px;
}

table.evt4 {
	display: inline-block;
}

table.evt4 td {
	min-width: 75px;
}

#rgb_contain {
	height: 70vh;
	max-width: 910px;
	overflow: auto;
	background: linear-gradient(90deg, transparent 5%, rgba(255,187,51,0.4) 30%, rgba(255,51,0,0.4) 55%, rgba(0,102,255,0.4) 80%, transparent 105%); background-attachment: local;
}

table.evt5 td {
	white-space: nowrap;
	height: 20px;
}

table.evt5 tr td:nth-child(1) {
	min-width: 110px;
	max-width: 110px;
	overflow: auto;
}

table.evt5 td:nth-of-type(1) ~ td {
	min-width: 250px;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.filter {
	margin: 0.2em;
	padding: 0.5em 2.5em;
	background-color:rgba(150,150,180,0.3);
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
}

.filter td {
	background-color:rgba(0,0,0,0.4);
	color: #DDD;
	padding: 0.2em;
}

input[type="checkbox"] {
	background-color:#F00;
}

input[type="checkbox"] + label {
	color: #D40;
}

input[type="checkbox"]:checked + label {
	color: #0D4;
}

.rtxt {
	color: #C50;
}

.ytxt {
	color: #A90;
}

.gtxt {
	color: #0C5;
}

.co, .ac, .dr {
	padding: 0.1em;
}

.co {
	background-color: #FB3;
}

.ac {
	background-color: #F30;
}

.dr {
	background-color: #06F;
}

.co_empty {
	background-color:rgba(255,187,51,0.3);
}

.ac_empty {
	background-color:rgba(255,51,0,0.3);
}

.dr_empty {
	background-color:rgba(0,102,255,0.3);
}

.trsp {
	background: #F67 url("https://a3event.github.io/src/spring.png") 2%/15px no-repeat;
	color: #222;
}

.trsm {
	background: #FA3 url("https://a3event.github.io/src/summer.png") 2%/15px no-repeat;
	color: #222;
}

.trat {
	background: #F72 url("https://a3event.github.io/src/autumn.png") 2%/15px no-repeat;
	color: #222;
}

.trwt {
	background: #3AE url("https://a3event.github.io/src/winter.png") 2%/15px no-repeat;
	color: #222;
}

.img_co, .img_ac, .img_dr {
	height: 20px;
}

.img_co {
	background: #FB3 url("https://a3event.github.io/src/comedy.png") 50%/20px no-repeat;
}

.img_ac {
	background: #F30 url("https://a3event.github.io/src/action.png") 50%/20px no-repeat;
}

.img_dr {
	background: #06F url("https://a3event.github.io/src/drama.png") 50%/20px no-repeat;
}

.downarrow {
	color: #F00;
	font-size: 1.2em;
}

.gacha_ssr, .gacha_sr, .free_ssr, .free_sr {
	text-align: left !important;
	font-size: 0.90em;
}

.gacha_ssr {
	background-color: #900;
	color: #DDD;
}

.gacha_sr {
	background-color: #A27;
	color: #DDD;
}

.free_ssr {
	background-color: #1E8;
	color: #222;
}

.free_sr {
	background-color: #9ED;
	color: #222;
}

.ssr, .sr {
	text-shadow: 2px 2px 2px #333;
	margin: 0 0.2em;
	padding: 0 0.2em;
}

.ssr {
	color: #F1A;
	background-color: #06F;
	border: 2px outset #06F;
	border-radius: 5px;
}

.sr {
	color: #FD4;
	background-color: #D91;
	border: 2px outset #D91;
	border-radius: 5px;
}

.future {
	font-style: italic;
	font-family: Georgia, serif;
	font-size: 0.85em;
}

select {
	background-color: #7AF;
	border-radius: 5px;
}

#container {
	height: 85vh;
	overflow: hidden;
	border-radius: 5px;
	/*margin-top: 3.5em;*/
	padding: 0;
}

.inner {
	height: 100%;
	padding: 0em;
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	overflow: auto;
}

.anchor {
	display: block;
	position: relative;
	margin: 0;
	top: 0;
	visibility: hidden;
}

textarea {
	background-color: #69A;
	font-family: Arial;
	width: 80vw;
}

#footer {
	padding: 0.2em;
	position: fixed;
	height: 15px;
	bottom: 0;
	right: 0;
}

#smalltext {
	float: right;
	font-size: 0.7em;
}

ul.inl {
	background: transparent;
}

input {
	background-color: #BDF;
}

@media screen and (max-width: 595px){
	.dropdown-links {
		width: 105%;
	}
	
	#footer {
		display: none;
	}
}

@media screen and (max-width: 480px){
	body {
		font-size: 0.9em;
	}

	h1 {
		font-size: 1em;
		letter-spacing: 0px;
	}
	
	img {
		max-height: 180px;
	}
	
	img.ss {
		width: 90vw;
	}
	
	#container {
		height: 80vh;
		/*margin-top: 3.75em;*/
	}

	table.evt5 td:nth-of-type(1) ~ td {
		min-width: 190px;
		max-width: 190px;
	}
	
	.filter {
		padding: 0.5em;
	}
}
