body {
	background-color: #111;
	color: #DDE;
}

a {
	color: #7BF;
}

a:hover {
	color: #BDF;
}

a:active {
	color: #36F;
}

hr {
	background-color: #904;
	border: 1px dotted #B6B;
}

h1, h2, h3, h4 {
	text-shadow: 1px 1px 2px #333;
}

h2 {
	border-bottom: 0.1em solid #47A;
}

h2::first-letter {
	color: #BBF;
}

#header {
	background-color: #904;
}

.dropdown-menu {
	background-color: #503;
	box-shadow: 10px 10px 10px #709 inset;
}

.dropdown:hover {
	color: #A07;
}

.dropdown-links {
	background-color: #403;
	border-right: 1px dotted #B6B;
	border-bottom: 1px dotted #B6B;
}

.dropdown-links li {
	background-color: #705;
	border: 1px dotted #FEF;
}

.dropdown-links li:hover {
	background-color: #F5C;
}

#container {
	border: 2px solid #111;
}

.inner {
	background-color: #235;
}

div.box {
	background-color: #124;
}

div.box2 {
	background-color: #112;
}

span.text2 {
	color: #99B;
}

table.evt {
	border: 2px solid #99D;
}

table.evt td {
	border: 1px dotted #6AD;
}

.co, .ac, .dr {
	color: #FFF;
	text-shadow: 1px 1px 2px #333;
}

.gray1 {
	background-color: #333;
	text-shadow: 1px 1px 2px #999;
}

.gray2 {
	background-color: #111;
	color: #CCC;
}

.t1t2 {
	background-color: #706;
}

.t3 {
	background-color: #20A;
}

.t4t5 {
	background-color: #06B;
}

.t6 {
	background-color: #490;
}

.t7t8 {
	background-color: #960;
}

select {
	background-color: #7AF;
    box-shadow: 2px 2px 1px #369;
}

#footer {
	background-color: #503;
}
