body {
	background-color: #FFF;
	color: #111;
}

a {
	color: #57E;
}

a:hover {
	color: #4AC;
}

a:active {
	color: #36F;
}

hr {
	background-color: #F09;
	border: 1px dotted #FAD;
}

h1, h2, h3, h4 {
	text-shadow: 1px 1px 1px #CCC;
}

h2 {
	border-bottom: 0.1em solid #E59;
}

h2::first-letter {
	color: #224;
}

#header {
	background-color: #FEE;
}

.menu {
	background-color: #DBD;
}

.menu li {
	background-color: #FBD;
	border: 1px dotted #FEF;
}

.menu li:hover {
	background-color: #F7D;
}

.dropdown-menu {
	background-color: #E8C;
}

.dropdown:hover {
	color: #A07;
	font-weight: bold;
}

.dropdown-links {
	background-color: #DBD;
	border: 1px dotted #FEF;
}

.dropdown-links li:hover {
	background-color:#F5C;
}

.inner {
	background-color: #EEE;
}

div.box {
	background-color: #DDE;
}

div.box2 {
	background-color: #DCB;
}

span.text2 {
	color: #679;
}

table.evt {
	border: 2px solid #99D;
}

table.evt td {
	border: 1px dotted #6AD;
}

.co, .ac, .dr {
	color: #111;
}

.gray1 {
	background-color: #CBB;
}

.gray2 {
	background-color: #AAA;
}

.t1t2 {
	background-color: #D4C;
}

.t3 {
	background-color: #83F;
}

.t4t5 {
	background-color: #48F;
}

.t6 {
	background-color: #7C4;
}

.t7t8 {
	background-color: #DB6;
}

select {
	background-color: #EDD;
    box-shadow: 2px 2px 1px #963;
}

#footer {
	background-color: #DDC;
}
